[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	ignore = dirty
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	ignore = dirty
[submodule "external/SDL_shadercross"]
	path = external/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
	ignore = dirty
[submodule "external/SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	ignore = dirty
[submodule "external/cimgui"]
	path = external/cimgui
	url = https://github.com/cimgui/cimgui.git
	ignore = dirty
[submodule "external/cimplot"]
	path = external/cimplot
	url = https://github.com/cimgui/cimplot.git
	ignore = dirty
